In [1]:
# 1.WAS TO PRINT "HELLO WORLD"
print("HELLO WORLD")

HELLO WORLD

In [6]:
#2.WAS TO INTIALIZE MULTIVARIABLE VALUE ARE 150,120,250
a,b,c = 150,120,250
a,b,c

(150, 120, 250)

In [7]:
# WAS TO PRINT THE TYPE OF THE DATA IN GIVEN VALUE
a={10,20}
type(a)

set

In [9]:
#3.WAS TO PRINT THE ADDRESS OF THE MEMORY BLOCK IN GIVEN VALUE
a={10,20,30}
id (a)

1825866167488

In [13]:
#4.WAS TO PRINT YOUR DETAILS ,FIRST STORE YOUR DETAIS,EXTRACT THE VALUEAND DISPLAY IT 
name="jaya"
age=21
phone=8974835080
email="jaya17792@gmail.com"
height=5.0
pancard=True
print (name)
print (age)
print (phone)
print(height)

jaya
21
8974835080
5.0

In [17]:
#5.WAS TO SWAP TO VALUE ,EITH TEMPORARY VARIABLE
x="haii"
y="bye"
temp=x
x=y
y=temp
x,y

('bye', 'haii')

In [22]:
# 6.WAS TO SWAP TO VALUE WITHOUT TEMPERORY VARIABLE
m=[10,20]
n={30,40}
m,n=n,m
m
n
m,n

({30, 40}, [10, 20])

In [29]:
#7.WAS TO INTIALIZE A VALUE AND PRINT THE VALUE ,AFTER PRINT THE VALUE THEN RE INTIALIZE THE NEW VALUE TO THE EXISTING VARIABLE AND DISPLAY THE VALUE
a={'a':"pyspiders"}
a
a['a']
a['a']='qspider'
a
a=[10,20,30]
a

[10, 20, 30]

In [32]:
#8.WAS TO CONVERT SINGLE TO MULTIVALUE DATA TYPE
INPUT=a=10
output=['1','0']
a=10
a=str(a)
print(a)
a=list(a)
a

10

['1', '0']

In [36]:
a=[10]
a=tuple (a)
print(tuple(a))

(10,)

In [43]:
#9.WAS TP CONCAT THE MULTIVAILUE DATA TYPE (STR,LIST,TUPLE,SET,DICT)
x="hello"
x+="world"
print(x)
y=[10,20,30]
y+=[40,50,60]
print(y)
y=[10,20,30]
y+="haii"
print(y)
y=[10,20,30]
y+={'a','b'}
print(y)
y=[10,20,30]
y+={'a':100,'b':200}
print(y)

helloworld
[10, 20, 30, 40, 50, 60]
[10, 20, 30, 'h', 'a', 'i', 'i']
[10, 20, 30, 'a', 'b']
[10, 20, 30, 'a', 'b']

In [1]:
a=10
print(a)

10

In [1]:
#10.WAS TO CHECK THE LENGHT OF THE COLLECTION
t=(10,20)
len(t)

2

In [3]:
#11.WAS TO CHECK FIND OUT THE MIDDLE VALUE OF THE GIVEN COLECTION
a=[200,300,40,500]
a[len(a)//2]

40

In [6]:
#12.WAS TO CONCAT THE NEW STRING INTO TH STARTING OF GIVEN STRING
a="how are u"
b="haii"
a=b+a
a

'haiihow are u'

In [8]:
#13.WAS TO CONCAT THE NEW STRING INTOTHE ENDING OF THE GIVEN STRING
a="hello"
b="world"
a=a+b
a

'helloworld'

In [24]:
#14.WAS TO CONCAT THE NEW STRING INTO THE MIDDLE OF THE GIVEN STRING
s="apple"
s[0:2]+"b"+s[3:]

'apble'

In [38]:
 #15.WAS TO MODIFY THE NEW CHARACTER OF THE GIVEN STRING
a="PYSPIDERS"
a[len(a)//2]
a=a[0:len(a)//2]+"l"+a[(len(a)//2)+1:]
a

'PYSPlDERS'

In [2]:
#16.WAS MODIFY THE SEQUENCE OF CHARACTER IN GIVEN STRING
s="pyspiders"
s=s[0:3]+"PID"+s[6:]
s

'pysPIDers'

In [4]:
#17. EAS TP REPLACE THE OLD CHARACTER INTO A NEW CHARACTER OF STRING
a="pyspiders"
a=a[:-4]+"D"+a[-3:]
a

'pyspiDers'

In [5]:
#18.WAS TO DELETE THE SPECIFIC CHARACTER IN THE GIVEN STRING
p="pyspiders"
p=p[:2]+p[3:]
p

'pypiders'

In [6]:
#19.WAS TO DELETE THE SEQUENCE OF CHARACTER IN THE GIVEN STRING
j="pyspiders"
j=j[:3]+j[6:]
j

'pysers'

In [8]:
#20.WAS TO CONCAT THE NEW STRING INTO THE SPECIFIC POSITION OF THE GIVEN STRING
s="haii are u"
s=s[0:4+1]+"how"+s[4:]
s

'haii how are u'

In [12]:
#21.WAS TO CONCAT THE NEW VALUE INTO THE STARTING OF THE GIVEN LIST
k=[1,2,3]
k+=['a','b']
k

[1, 2, 3, 'a', 'b']

In [2]:
#22.WAS TO CONCAT THE NEW VALUE INTO THE ENDING OF THE GIVEN LIST
r=['a','b','c']
r=r+[10,20]
r

['a', 'b', 'c', 10, 20]

In [43]:
#23.WAS TO CONCAT THE NEW VALUE INTO THE MIDDLE OF THE GIVEN LIST
r=[10,150.12,'TRUE''HAII']
r[2:-2]=[10,20]
r

[10, 150.12, 10, 20, 'TRUEHAII']

In [37]:
#25.WAS TO CONCAT THE NEW VALUE INTO THE SPECIFIC POSITION OF THE GIVEN LIST
a=[10,150.12,"true","haii"]
a[2]=[100,200]
a

[10, 150.12, [100, 200], 'haii']

In [33]:
# 26.WAS TO MODIFY THE NEW VALUE INTOTHE SPECIFIC POSITION OF THE GIVEN LIST
a=[10,150.12,"true","haii"]
a[1]=15+6j
a

[10, (15+6j), 'true', 'haii']

In [1]:
#27. WAS TO MODIFY THE NEW VALUE INNTO THE STARTING OF THE GIVEN LST
a=[10,150.12,"true","haii"]
a[0]={"abc":150}
a

[{'abc': 150}, 150.12, 'true', 'haii']

In [4]:
#28 WAS TO MODIFY  THE NEW VALUE ENDING OF THE GIVEN LIST
a=[10,150.12,"true","haii"]
a[-1]="JAYA"
a

[10, 150.12, 'true', 'JAYA']

In [5]:
#29.WAS TO MODIFT THE NEW VALUE IN THE MIDDLE OF THE GIVEN LIST
a=[10,150.12,"true","helloworld"]
a[len(a)//2]="haii"
a

[10, 150.12, 'haii', 'helloworld']

In [17]:
#30.WAS TO MODIFY THE FIRST 4 POSTON VALUE IN THE GIVEN LIST
a=[10,20,30,40,50,]
a[0:4]="abcd"
a

['a', 'b', 'c', 'd', 50]

In [28]:
#31.WAS TO MODIFY THE SEQUENCE IN AGIVEN LIST
d=[1,2,3,4,5,6,7,8,9]
d[1::2]
d[1::2]="abcd"
d

[1, 'a', 3, 'b', 5, 'c', 7, 'd', 9]

In [42]:
#32.WAS TO DELETE THE VALUE IN THE SPCIFIC POSITION OF THE GIVEN LIST
s=[1,2,3,4,5,6,7,8,9]
del s[4]
print (s)

[1, 2, 3, 4, 6, 7, 8, 9]

In [37]:
#33.WAS TO DELETE THE NEW VALUE IN THE ENDING OF THE LIST
j=[1,2,3,4,5,6,7,8,9]
del j[-1]
print(j)

[1, 2, 3, 4, 5, 6, 7, 8]

In [41]:
#34.WAS TO DELETE THE NEW VALUE INTO THE MIDDLE OF THE LIST
d=[1,2,3,4,5,6,7,8,9]
del d[len(d)//2]
d

[1, 2, 3, 4, 6, 7, 8, 9]

In [44]:
#35.WAS TO DELETE THE NEW VALUEINTHE STARTING OF THE GIVEN LIST
d=[1,2,3,4,5,6,7,8,9]
del d[0]
d

[2, 3, 4, 5, 6, 7, 8, 9]

In [45]:
#36.WAS TO CONCAT THE VALUE INTO THE GIVEN STARTING OF THE TUPLE
a=(10,20,30,40,50)
a+=(60,70)
a

(10, 20, 30, 40, 50, 60, 70)

In [53]:
#37.WAS TO CONCAT THE VALUE INTO THE MIDDLE OF TUPLE
a=(10,20,30,40,50)
a

(10, 20, 30, 40, 50)

In [ ]:
#38.WAS TO CONCAT THE VALUE INTO THE GIVEN ENDING OF THE TUPLE

In [ ]:
#39.WAS TO MODIFY THE SEQUENCE IN A GIVEN TUPLE

In [55]:
#40.WAS TO DELETE THE SEQUENCE OF VALUE IN GIVEN TUPLE
a=(10,20,30,40,50)
a

(10, 20, 30, 40, 50)

In [60]:
#41.WAS TO CONCAT THE NEW VALUE IN TO THE SET
a={1,2,3,4,5,6}
a|={10,20,}
print(a)

{1, 2, 3, 4, 5, 6, 20, 10}

In [61]:
#42.WAS TO DELETE THE SPEDIIC VALUE IN TO THE SET
s={1, 2, 3, 4, 5, 6, 20, 10}
s=s-{4,5,6}
s

{1, 2, 3, 10, 20}

In [62]:
#43.WAS TO CONCAT THE NEW KEY AND VALUE IN THE DICT
d={'a':150}
d['b']=500
d

{'a': 150, 'b': 500}

In [67]:
#45. WAS TO DELETE THE SPECIFIC KEY AND VALUEIN THE GIVEN DICT
d={'a': 150, 'b': 500,'c':600,'d':250}
d['c']
del d['c']
d

{'a': 150, 'b': 500, 'd': 250}

In [75]:
#46.WAS TO MODIFY THE SPECIFIC IN THE GIVEN DICT
x={10:150,20:"haii"}
x[10]=156
x

{10: 156, 20: 'haii'}

In [81]:
#47.WAS TO CONCAT THE LIST AN TUPLE VALUE VALUES BY USING TYPE CASTING
k=[10,20,30]
t=(10,20,30,)
k+list(t)

[10, 20, 30, 10, 20, 30]

In [84]:
#48 WAS TO CONCAT THE LIST VALUE AND TUPLE VALUE WITHOUT USING TYPE CASTING
k=[20,30,40]
l=(50,60)
k+=l
k

[20, 30, 40, 50, 60]

In [85]:
#49.WAE CHECK GIVEN NUMBER DIVIDSLE BY 3
n=9
print(n%3==0)

True

In [87]:
#50.WAE TO CHECK THE GIVEN NUMBER IS DIVIIBLE BY 2 AND 6
n=12
print(n%2==0 and n%6==0)

True

In [90]:
#51.WAE TO CHECK GIVEN INTEGER NUMBER IS DIVISIBLE BY 3
n=1999
n%10
n=1996
((n%10)%3)==0

True

In [92]:
#52.WAE TO CHECK LAST DIGIT IS DIVISIBLE BY 3 FROM GIVEN INTEGER WITH OUT TYPE CASTING
n=2026
(int(str(n)[-1]))%3==0

True

In [93]:
#53. WAE TO CHECK THE GIVEN NUMBER IS GREATER THAN 150
n=500
n>150

True

In [95]:
#54.WEA TO CHECK THE GIVEN NUMBER IS GREATERTHAN OR EQUALNTO 100
n=100
print(n>=150)
print(n>=100)

False
True

In [96]:
#55. WAE TO CHECK THE GIVEN NUMBER IS LESS THAN 150,PRINT  THE RESULT
n=60
print(n<150)

True

In [97]:
#56.WAE TO CHECK THE GIVEN NUMBER IS LESSTHAN OR EQUAL TO 100
n=100
print(n<=100)

True

In [98]:
#57. WAE TO CHECK THE IVEN NUMBER IS GREATER THAN 15ANDLESSTHAN 24
n=22
print(n>15 and n<24)

True

In [99]:
#58.WAE TO CHECK TH GIVN NUMBER IS EVEN
n=10
n%2==0

True

In [101]:
#59.WAE TO CHECK TH GIVN NUMBER IS odd
n=11
n%2!=0

True

In [102]:
#60.WAE TO CHECK THE GIVEN NUMBER IS DIVISIBLE BY 3 AND ALSO THE NUMBER GREATER THAN 22
n=24
print(n%3==0 and n>22)

True

In [1]:
# WAS TO  print helloworld
print("helloworld")

helloworld